@import "../_variable/variable";

////
/// @group  Function
////

///
/// @name   search-key()
///
/// @param  {Object} $map - The argument takes an object
/// @arg    {String | Number} $keys... - Can take any number of arguments [string | int | char... etc]
///
/// @return {Boolean} - true if function search name in object, false & error if failed
///
/// @example
///     @if (search-key($object, $name, $key)) {
///       @return get-value($object, $name, $key);
///     }
///
@function search-key($map, $keys...) {
  @each $key in $keys {
    @if not map-has-key($map, $key) {
        @error "The value is not present in the object... watch [_varaible.scss]";
      @return false;
    }
    $map: map-get($map, $key);
  }

  @return true;
}

@function get-value($map, $keys...) {
  @if ($keys == 0) {
    @error "'#{$keys}' is empty, check your arguments";
  } @else {
    @each $key in $keys {
      $map : map_get($map, $key);
    }
  }

  @return $map;
}

$browser-context: 16;

@function render-pixel($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}


@function return-value($name, $key) {
  @if search-key($object, $name, $key) {
    @return get-value($object, $name, $key);
  }

    @error "Function COLORIZE : '#{$key}' not found!";
  @return null;
}