@import "_template/import";

body,
html{
  @include mixinDimensions($width_all);

  margin: 0;
  overflow: hidden;
}

/*
  MAIN ANIMATE STYLE
========================================*/
.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
}
.animated.infinite {
  animation-iteration-count: infinite;
}
